/* Reset some default styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #222;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
  font-weight: bold;
}

/* Sections */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

#about {
  background-color: #f4f4f4;
}

#projects {
  background-color: #eee;
}

#contact {
  background-color: #f4f4f4;
}

/* Projects */
.project {
  margin-bottom: 30px;
}

.project img {
  max-width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  
  nav a {
    margin: 10px 0;
  }
  
  .container {
    padding: 20px;
  }
}
